/* .player-inputs {
  justify-content: center;
  margin-top: 2rem;
  overflow: hidden;
  position: relative;
}

.player-inputs > input {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 0rem;
  transition: padding 0.5s;
}
.player-inputs > input:focus {
  padding: 1.7rem 0rem;
} */
